/* item.css */

.product-item {
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 10px;
    padding: 2px;
    transition: transform 0.6s;
    height: 100%; /* Set the card height to fill available space */
}

.product-image {
   
    width: auto; /* Allow the width to adjust to maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the container */
    border: 1px solid #fff; /* Add a white border to all images */
}

.product-item:hover {
    transform: scale(1.05);
}
.swiper-slide {
    /* background-size: 100%; */
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-size 1s ease-in-out;
}

.product-item {
    position: relative;
    /* Add other styles as needed */
}

.product-content-below {
    border-radius: 5px;
    text-align: left;
    width: 100%;
}
