.cart-icon {
    height: 82px; /* Adjust the height as needed */
    width: auto; /* Let the width adjust proportionally */
}
.format-main {

    padding-top: 80px;
    padding-bottom: 20px;

}
.format {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap value as needed */
    margin-bottom: 20px; /* Add margin-bottom to create space between rows */
    border-bottom: 1px solid #e2e2e2; /* Add a border-bottom to create a line */
    padding-bottom: 10px; /* Add padding to create space between the line and the content */
}
.format-main .col {
    padding: 0 5px; /* Adjust the padding as needed */
}
.btn-transparent:hover {
    background-color: transparent;
    border-color: #888;
    color: inherit; /* Keep the default text color */
}





