/* productdisplay.css */

.productdisplay {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 100px;
}

.productdisplay-imge-main {
    margin-bottom: 5px; /* Add some margin between the main image and the small images */
    
}

.productdisplay-imge {
    display: flex;
    justify-content: space-between; /* Align the small images evenly */
    flex-wrap: wrap;
    margin-left: 0px; /* Add negative margin to offset the space between images and the left edge */
}

.small-image {
    width: calc(25% - 2px); /* Set the width of small images dynamically */
    max-width: 100%; /* Ensure the images don't exceed their container */
    margin-bottom: 10px; /* Add some space between small images */
}


.productdisplay-right {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right button {
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 600;
}
.btn-transparent:hover {
    background-color: transparent;
    border-color: #888;
    color: inherit; /* Keep the default text color */
}
.productdisplay-info-name{
    padding-bottom: 10px;
}
.productdisplay-price-name{
    padding-top: 10px; 
}
.productdisplay-info-discription {
    word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    overflow-wrap: break-word;
    padding-bottom: 20px;
    
  }
  .productdisplay-colors {
    display: flex;
    flex-wrap: wrap; /* لتمرير الألوان على عدة أسطر حسب الحاجة */
}
  .productdisplay-color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid rgb(176, 167, 167); 
    
}

.productdisplay-color-circle.active {
    border: 3px solid #888;
}

