/* styles.css */
.custom-header {
  /* Add your custom styling for the header here */
  background-color: #ffebee; /* Change background color to desired color */
  color: rgb(17, 16, 16); /* Change text color to desired color */
  font-weight: bold; /* Add any other desired styling properties */
}

@media (max-width: 800px) {
  .add-product {
      width: auto;
      padding: 30px;
      margin: 20px;
  }}