.shp-categorey-indexsort{
    display: flex;
    margin: 100px 170px;
    justify-content: space-between;
    align-items: center;
}
.custom-select {
    padding: 10px 60px 10px 20px; /* Adjust the padding (top, right, bottom, left) */
    border-radius: 10px; /* Remove border-radius or adjust as needed */
    border: 1px solid #888; /* Use solid border style */
    color: #888;
}
.shp-categorey-indexsort p span {
font-weight: 600;
}
.shp-categorey-products{
    text-align: center;
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}

.custom-select option {
    color: #888; /* Set the color of the option text */
}


.list-unstyled.text-grey {
    text-align: left;
}

.text-grey{
    text-align: left;   
}

.filter-box {
    max-width: 300px; /* Adjust width as needed */
    border: 1px solid #888;
    padding: 10px;
  }
  
  .filter-title {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .filter-title::before {
    content: " - ";
  }
  
  .filter-title.open::before {
    content: " + ";
  }
  
  ul.list-unstyled.text-grey {
    display: none;
  }
  
  ul.list-unstyled.text-grey.open {
    display: block;
  }
.col-md-3 h5 {
    text-align: left;
    color: rgb(172, 87, 101);
}
.btn-btn-link-container {
    display: flex;
    justify-content: space-between;
}

.btn-btn-link {
    text-align: left;
    color: black;
    border-bottom: 1px solid black; /* Add a bottom border */
}



  .form-check-label{
 color:black;
 text-align: left;
  }
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:150px auto; 
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
